<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="connectionStringCRM" connectionString="AuthType=OAuth;Username=admin@CRM122334.onmicrosoft.com;Password=UAyON43ubQ;SkipDiscovery=True;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;Url=https://org73401895.crm.dynamics.com/main.aspx" />
	</connectionStrings>
</configuration>